{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Férias Aguardando Revisão</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="pesquisar" value="Pesquisar"/>
    </form>
    <table>
    <table width="100%">
        <tr>
            <th>SERVIDOR</th>
            <th>SITUAÇÃO</th>
            <th>ANO BASE</th>
            <th>DATA INÍCIO</th>
            <th>DATA FIM</th>
            <th>DATA SOLICITAÇÃO</th>
            <th></th>
        </tr>
        {% for vacancia in vacancias %}
        <tr>
            <td><a href="/admin/base/vacancia/{{ vacancia.id }}/change">{{ vacancia.servidor }}</a></td>
            <td>
               {{ vacancia.situacao }}
            </td>
            <td>{{ vacancia.ano_base }}</td>
            <td>{{ vacancia.data_inicio }}</td>
            <td>{{ vacancia.data_fim }}</td>
            <td>{{ vacancia.data_solicitacao }}</td>
            <td><a href="/base/ferias/{{ vacancia.id }}/edit">REVISAR</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
