{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Férias solicitadas pelo {{request.user}}</h1>
    {% if perms.base.add_vacancia and not request.user.is_superuser %}
    <ul class="object-tools">
      <li>
          <a href="/base/adicionar_ferias/" class="addlink">Adicionar Férias</a>
      </li>
    </ul>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Pesquisar"/>
    </form>
    <table width="100%">
        <tr>
            <th>SITUAÇÃO</th>
            <th>ANO BASE</th>
            <th>DATA INÍCIO</th>
            <th>DATA FIM</th>
            <th>DATA SOLICITAÇÃO</th>
            <th>DATA AVALIAÇÃO</th>
            <th>OBSERVAÇÃO</th>
        </tr>
        {% for vacancia in vacancias %}
        <tr>
            <td>
               {{ vacancia.situacao }}
            </td>
            <td>{{ vacancia.ano_base }}</td>
            <td>{{ vacancia.data_inicio }}</td>
            <td>{{ vacancia.data_fim }}</td>
            <td>{{ vacancia.data_solicitacao }}</td>
            <td>{{ vacancia.data_avaliacao }}</td>
            <td>{{ vacancia.observacao }}</td>


            <td></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
